.form-container {
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  background-color: #fff;
}
.form {
  padding: 60px;
  .form-input {
    margin-bottom: 20px;
    .label {
      font-size: 15px;
      margin-bottom: 5px;
      font-weight: 500;
      color: #606b76;
      display: block;
      user-select: none;
      float: left;
    }
    .input {
    width: 100%;
    height: 60px;
    border-radius: 10px;
    box-shadow: none;
    border: 1px solid #ced6e0;
    transition: all 0.3s ease-in-out;
    font-size: 20px;
    padding: 5px 15px;
    background: none;
    color: #1a3b5d;
    }

  }
  .select {
    width: 100%;
    height: 60px;
    border-radius: 10px;
    box-shadow: none;
    border: 1px solid #ced6e0;
    transition: all 0.3s ease-in-out;
    font-size: 20px;
    padding: 5px 15px;
    background: none;
    color: #1a3b5d;
  }
  .form-input-cvv {
    width: 100%;
    max-width: 100px;
  }
  .form-input-group {
    display: grid;
    gap: 15px;
    grid-template-columns: 1fr 1fr;
    @media only screen and (max-width: 600px) and (min-width: 300px) {
      grid-template-columns: 1fr;
    }
  }
  .form-submit-button > button {
    background-color: #194174;
    color: #fff;
    width: 100%;
    border-radius: 10px;
    height: 50px;
    font-size: 18px;
    border: none;
    cursor: pointer;
  }
  .form-submit-button > button:hover {
    filter: drop-shadow(3px 5px 2px rgb(0 0 0 / 0.4));
  }
}

