.alert-container {
  position: relative;
  margin: -25px auto;
  width: 100%;
  animation: ease-in-out 1s linear;
  display: flex;
}
.alert-icon {
  font-weight: 500;
  font-size: 40px;
  color: #a30404;
  width: 100%;
  display: grid;
  filter: drop-shadow(2px 2px 2px rgb(0 0 0 / 0.4));
}
.alert-message {
  font-weight: 500;
  letter-spacing: 1px;
  color: #a30404;
  font-size: 16px;
  text-transform: uppercase;
  padding: 0 16px 0 16px;
}
.close-button {
  color: rgb(25 65 116);
  font-size: 12px;
  position: relative;
  top: -25px;
  right: 20px;
  float: right;
  cursor: pointer;
  text-transform: uppercase;
}
.close-button:hover {
  filter: drop-shadow(3px 5px 2px rgb(0 0 0 / 0.4));
}
.alert-backdrop {
  position: absolute;
  top: 0px;
  left: 0;
  background: rgb(243, 201, 201, 0.96);
  height: 100%;
  width: 100%;
  border-radius: 10px;
  z-index: 10;
  border: 1px solid red;
}
@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
